@import "tailwindcss";

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFPRODISPLAYLIGHTITALIC.OTF") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFPRODISPLAYMEDIUM.OTF") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFPRODISPLAYSEMIBOLDITALIC.OTF") format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFPRODISPLAYBOLD.OTF") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFPRODISPLAYHEAVYITALIC.OTF") format("opentype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFPRODISPLAYTHINITALIC.OTF") format("opentype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFPRODISPLAYBLACKITALIC.OTF") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFPRODISPLAYULTRALIGHTITALIC.OTF") format("opentype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-sf: "SF Pro Display", -apple-system, BlinkMacSystemFont, sans-serif;

  --color-dark: #1c1c1c;
  --color-muted: #454545;

  --color-light: #f9f9f9;
  --color-gray: #d9d9d9;

  --color-primary: #3b82f6;
  --color-primary-light: #f3f6fd;
}

@layer base {
  body {
    font-family: var(--font-sf);
  }
}

@layer components {
  .container {
    @apply max-w-7xl w-full mx-auto px-4 lg:px-6;
  }
}

@layer utilities {
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fadeInDown {
    animation: fadeInDown 0.5s ease-out forwards;
    opacity: 0;
  }

  @keyframes slide-logos {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  .animate-slide-logos {
    animation: slide-logos 40s linear infinite;
  }

  .logos-slider-track {
    align-items: center;
    display: inline-flex;
    gap: 60px;
    width: max-content;
  }
}
